/*<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;1,700&family=Zilla+Slab:ital,wght@0,300;1,400;1,700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;1,700&family=Caveat:wght@400;600&family=Zilla+Slab:ital,wght@0,300;1,400;1,700&display=swap" rel="stylesheet">*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*
    font-family: 'Cabin', sans-serif;
    font-family: 'Zilla Slab', serif;
    font-family: 'Caveat', cursive;
    azul claro #aed1e6       azul opal #BAD1CD
    lila   #c6cbf021         rosado mistico #F2D1C9
    verde agua #CFE8EF       pink #EBBCE4
    azulmas intenso #A0C4E2   lila french #8D64A2 purpura #462749
    */
}

/*mobile first*/

/*header*/
.navbar img{
  border-radius: 60%;
  width: 3em;
}
.navbar{
  background-color: #462749;
}
.navbar a{
  color: white;
  font-size: 15px;
  font-family: 'Cabin', sans-serif;
}
.navbar button{
  background-color: #F2D1C9;
}
.navbar .menu{
  justify-content: flex-end;
}
.navbar a:hover{
  font-weight: 800;
  color: #F2D1C9;

}


/*footer*/
.footer{
  display: flex;
  flex-direction: column;
  background-color:#8D64A2;
  justify-content: center;
  align-items: center;
}
.footer img{
  width: 2em;
  border-radius: 15%;
  margin: 15px;
}
.footer p{
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
  font-style: oblique;
  margin-bottom: 15px;
}
main{
  min-height:100%;
}
/*main index*/

.section0{
  display: flex;
  font-family: 'Caveat', cursive;
  background-color: #ebbce436;
  font-size: 25px;
  justify-content: center;
  height: 6em;
}
.section0 p{
  margin: auto;
  color: rgba(0, 0, 0, 0.815);
}

.section .imgTexto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}
.section p{
  font-family: 'Cabin', sans-serif;
  background-color: #4627499d;
  text-align: center;
  margin: 15px;
  border-radius: 0.30rem;
  
}
.section p:hover{
  transform: scale(1.2);
  font-weight: bold;
  transition: 0.2s;
}
.sectionVideo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}
.sectionVideo video{
  width: 15em;
  height: 10em;
  margin: 10px 0 10px 0;

}

/*main sobre ana*/
.bannerSA img{
width: 100VW;
}
.sectionA{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  margin: 15px;
  line-height: 20px;
  
}
.sectionB{
  display: flex;
  justify-content: center;
  justify-items: center;
}
.sectionB img{
  width: 18em;
  border-radius: 5%;
  margin: 15px;
}

/*recetas*/
.grid-container { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(12, auto);
  grid-template-areas:
    "chocolatosas chocolatosas chocolatosas"
    "choc1 choc1 choc1"
    "choc2 choc2 choc2"
    "choc3 choc3 choc3"
    "tartas tartas tartas"
    "tart1 tart1 tart1"
    "tart2 tart2 tart2"
    "tart3 tart3 tart3"
    "sinhorno sinhorno sinhorno"
    "sh1 sh1 sh1"
    "sh2 sh2 sh2"
    "sh3 sh3 sh3";
}

.chocolatosas { 
  grid-area: chocolatosas; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CFE8EF;
  height: 10em;
  margin: 15px;
}
.chocolatosas h2, .tartas h2, .sinHorno h2{
  font-family: 'Caveat', cursive;
  font-size: 25px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.801);
  
}

.grid-container h2:hover{
  transform: scale(2);
  transition: 0.6s;
}
.choc1{ 
  grid-area: choc1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #c6cbf021;
}
.choc1 img, .choc2 img, .choc3 img, .tart1 img, .tart2 img, .tart3 img, .sH1 img, .sH2 img, .sH3 img{
  width: 18em;
  border-radius: 4%;
}
.choc1 h3, .choc2 h3, .choc3 h3, .tart1 h3, .tart2 h3, .tart3 h3, .sH1 h3, .sH2 h3, .sH3 h3{
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  margin: 15px 0 15px 0;
}

.choc2 { 
  grid-area: choc2; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #c6cbf021;
}
.choc3 { 
  grid-area: choc3; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #c6cbf021;
}

.tartas { 
  grid-area: tartas;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CFE8EF;
  height: 10em;
  margin: 15px;
}

.tart1 { 
  grid-area: tart1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #c6cbf021;
}

.tart2 { 
  grid-area: tart2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #c6cbf021;
}

.tart3 { 
  grid-area: tart3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #c6cbf021;
}

.sinHorno { 
  grid-area: sinhorno;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CFE8EF;
  height: 10em;
  margin: 15px;
}

.sH1 { 
  grid-area: sh1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #c6cbf021;
}

.sH2 { 
  grid-area: sh2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #c6cbf021;
}

.sH3 { 
  grid-area: sh3;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #c6cbf021;
}

/*productos*/
.precios{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:#c6cbf021 ;
}
.precios img{
  width: 15em;
  margin: 15px 0 15px 0;
  border-radius: 5% ;
}
.precios img:hover{
  transform: skewX(3deg);
  transition: 1s;
}
.precios h2{
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
}
.precios h3{
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
  margin-bottom: 15px;
}
.productos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 15px;
  height: 10em;
  background-color: #CFE8EF;
  margin: 15px;
}
/*tips*/
.tips{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 25px;
}
.tips div:hover{
  background-color: #c6cbf021;
}
.tips img{
  width: 15em;
  margin: 15px;
  border-radius: 5%;
}
.tips h2{
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  text-align: center;
}
.textoTips{
  display: flex;
  font-family: 'Caveat', cursive;
  font-size: 3em;
  text-align: center;
  background-color:#CFE8EF ;
  margin:15px;
}
/*contacto*/
.comentarioForm{
  font-family: 'Caveat', cursive;
  font-size: 20px;
  text-align: left;
  background-color: #CFE8EF;
  margin: 10px;
}

.contacto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:  #c6cbf021;
}
.contacto form{
  border:2px solid rgba(0, 0, 0, 0.733);
  margin: 20px;
  padding: 25px 10px;
}
.contacto form:hover{
  background-color:#a0c4e234;
}
 
.contacto form .input{
  display: flex;
  justify-content: end;
  margin: 5px;
  height: 30px;
}
.contacto form input:focus, .contacto form textarea:focus{
  border: solid 3px rgba(0, 0, 0, 0.336);
  transition: 0.3s;
}


.ubicacion{
  width: 18em;
  margin: 15px;
}
.contacto #descripcion{
  display: block;
}
.contacto label{
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
}

/*query*/
@media(min-width:768px){
  /*header*/
  .navbar img{
    border-radius: 60%;
    width: 5em;
  }
  
  /*main inicio*/
  .section0{
    display: flex;
    font-family: 'Caveat', cursive;
    background-color:#ebbce436;
    font-size: 2em;
    height: 4em;
    flex-direction: column;
    justify-content: center;
  }

  #todasSection{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
  }
  .section img{
    width: 20em;
    border-radius: 5%;
  }
.sectionVideo video{
  width: 25em;
  height: 15em;
  margin: 10px 0 10px 0;

}
/*main sobre ana*/
.sectionA{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  margin: 25px;
  line-height: 30px;
  
}
.sectionB img{
  width: 25em;
  border-radius: 5%;
  margin: 15px;
}

.footer p{
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  font-style: oblique;
  margin-bottom: 15px;
}

/*main recetas*/
.grid-container { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(12, auto);
  grid-template-areas:
    "chocolatosas chocolatosas chocolatosas"
    "choc1 choc2 choc3"
    "choc1 choc2 choc3"
    "choc1 choc2 choc3"
    "tartas tartas tartas"
    "tart1 tart2 tart3"
    "tart1 tart2 tart3"
    "tart1 tart2 tart3"
    "sinhorno sinhorno sinhorno"
    "sh1 sh2 sh3"
    "sh1 sh2 sh3"
    "sh1 sh2 sh3";
}

.choc1 img, .choc2 img, .choc3 img, .tart1 img, .tart2 img, .tart3 img, .sH1 img, .sH2 img, .sH3 img{
  width: 12em;
}
/*main tips*/
.tips img{
  width: 18em;
  margin: 15px;
}
.tips h2{
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  text-align: center;
}
/*productos*/
.precios{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content:space-around;
}
.precios img{
  width: 20em;
  margin: 25px 25px 25px 25px;
}
/*contacto*/
.comentarioForm{
  font-family: 'Caveat', cursive;
  font-size: 25px;
  text-align: left;
  background-color: #CFE8EF;
  margin: 15px;
}
.contacto{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  background-color:  #c6cbf021;
  height: 40em;
}
.contacto label{
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}
}





@media(min-width:1024px){
  /*header*/
  .navbar img{
    border-radius: 60%;
    width: 6em;
  }
  
  /*main inicio*/
  .section0{
    display: flex;
    font-family: 'Caveat', cursive;
    background-color:#ebbce436 ;
    font-size: 4em;
    height: 6em;
    flex-direction: column;
    justify-content: center;
  }
  .todasSection{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
  }
  .section img{
    width: 28em;
    border-radius: 5%;
  }
  .section p{
    font-size: 25px;
  }
  
  /*main sobreana*/
  .sectionA{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    margin: 40px;
    line-height: 30px;
    
  }
  
  .sectionB img{
    width: 40em;
    border-radius: 5%;
    margin: 15px;
  }
  /*main recetas*/
  .choc1 img, .choc2 img, .choc3 img, .tart1 img, .tart2 img, .tart3 img, .sH1 img, .sH2 img, .sH3 img{
    width: 20em;
  }
  /*productos*/
  .precios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 35px;
  }
  .contProducto{
    margin: 15px;
  }
  /*contacto*/
  .comentarioForm{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    text-align: left;
    background-color: #CFE8EF;
    margin: 20px;
  }
  .contacto form .input{
    display: flex;
    justify-content: end;
    margin: 10px;
    width: 32em;
  }
  .ubicacion{
    width: 25em;
    margin: 15px;
  }
  .contacto form{
    border:2px solid rgba(0, 0, 0, 0.733);
    margin: 20px;
    padding: 25px 10px;
    width: 30em;
  }
  .contacto #descripcion{
    width: 32em;
  }
}

@media(min-width: 1440px){
   /*sobre ana*/
   .sectionB img{
    width: 50em;
    border-radius: 5%;
    margin: 15px;
  }

  /*footer*/
  
  .footer img{
    width: 3em;
    border-radius: 15%;
    margin: 15px;
  }
  .footer p{
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    font-style: oblique;
    margin-bottom: 15px;
  }
 

  
}
@media(min-width:2560px){
  /*inicio*/
  .section0{
    display: flex;
    font-family: 'Caveat', cursive;
    background-color: #ebbce436;
    font-size: 90px;
    justify-content: center;
    height: 6em;
  }
  .section img{
    width: 38em;
    border-radius: 5%;
  }
  .sectionVideo video{
    width: 40em;
    height: 20em;
    margin: 10px 0 10px 0;
  
  }
  /*sobre Ana*/
  .sectionB img{
    width: 60em;
    border-radius: 5%;
    margin: 15px;
  }

  /*footer*/
  .footer img{
    width: 5em;
    border-radius: 15%;
    margin: 15px;
  }
  .footer p{
    font-family: 'Cabin', sans-serif;
    font-size: 35px;
    font-style: oblique;
    margin-bottom: 15px;
  }
 

}