*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import "./variables/extend";
@import "./variables/fuentes";
@import "./variables/color";

@import "./secciones/header";
@import "./secciones/index";
@import "./secciones/sobreAna";
@import "./secciones/recetas";
@import "./secciones/productos";
@import "./secciones/tips";
@import "./secciones/contacto";
@import "./secciones/footer";