@import "./fuentes";
@import "./color";



/*mixin contenedor de cada receta*/

@mixin estiloCadaContenedorReceta ($seccion-grid) {
     grid-area: $seccion-grid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $rosaParaFondo;
    margin: 15px 0 15px 0;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);

  
        .adelante{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            &:hover + .atras{
                opacity: 1;
                visibility: visible;
                
            }
            img{
                width: 18em;
                transition: all 500ms ease-out;
                &:hover{
                    transform: scale(1.3);
                }

            }
            h3{
                font-family: $cabin;
                font-size: 20px;
            }

        }

    
        .atras{
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: space-between;
            width: 18em;
            height: 100%;
            background: #462749c0;
            transition: all 500ms ease-out;
            opacity: 0;
            visibility: hidden;
            text-align: center;
            h4{
                font-family: $cabin;
                font-size: 25px;
               margin: 10px 0 10px 0;
                font-weight:bold;
                color: $rosaMistico;
            }
            p{
                font-family: $cabin;
                font-size: 16px;
                color: $rosaMistico;
                margin: 0 10px 0 10px;
            
            }
            a{
                
                border-radius: 6%;
                font-family: $cabin;
                font-weight: bold;
                font-size: 15px;
                text-decoration: none;
                color: $purpura;
                background-color: $rosaMistico;
                width: 5em;
                margin: auto;
                
            }

        

    }

}

/*mixin para cada titulo de tipo de receta*/
@mixin estiloContenedorTipoReceta ($tituloTipo) {
    grid-area: $tituloTipo; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $rosaMistico;
    height: 10em;
    h3{
        font-family: $caveatCursiva;
        font-size: 45px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.801);
        &:hover{
            transform: scale(1.5);
            transition: 0.6s;
          }
    }

}



