@import "./fuentes";
@import "./color";



/*mixin contenedor de cada receta*/

@mixin estiloCadaContenedorReceta ($seccion-grid) {
    grid-area: $seccion-grid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $rosaParaFondo;
    gap: 35px 0px 35px 0px;
    width: 18em;
    height: 15em;
    margin: auto;
    box-shadow: 10px 20px 40px rgba(0,0,0,0.8 );
    position: relative;
    &:hover .adelante{
        z-index: -1;
        transform: scale(1.1);
    }
    &:hover .adelante img{
        transform: translateY(20px);
       
    }
    &:hover .atras{
        transform: scale(1.1);
        opacity: 1;
        visibility: visible;

    }
    .adelante{
        width: 90%;
        height: 12em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        position: relative;
        transition: 0.8s;
       // background-color:$purpura ;

        img{
            width: 90%;
            overflow: hidden;

        }
        h3{
            font-family: $cabin;
            font-size: 20px;
            color: $purpura;

        }
        
    }
    .atras{
        width: 80%;
        height: 12em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #462749d0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transition: all 500ms ease-out;

        h4{
            font-family: $cabin;
            font-size: 18px;
            color: $rosaMistico;
            padding-top: 10px;
            font-weight: bold;
        }
        p{
            font-family: $cabin;
            font-size: 14px;
            color: $rosaMistico;
            text-align: center;
            margin: 10px;
        }
        a{
            font-family: $cabin;
            font-size: 12px;
            color: $purpura;
            background-color: $rosaMistico;
            margin-bottom: 10px;
            padding: 5px;
            text-decoration: none;
            border-radius: 6%;
            font-weight: bold;
        
        }
    }

}

/*mixin para cada titulo de tipo de receta*/
@mixin estiloContenedorTipoReceta ($tituloTipo) {
    grid-area: $tituloTipo; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $rosaMistico;
    height: 10em;
    h3{
        font-family: $caveatCursiva;
        font-size: 45px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.801);
    }

}



