@mixin estilopanelImagen($seccion-panel){
    grid-area: $seccion-panel; 
    display: flex;
    width: 100%;
    img{
      width: 100%;
      object-fit: cover;
    }

}

@mixin estiloTextoGaleria ($panel-texto){
    grid-area:$panel-texto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $rosaParaFondo;
    height: 100%;

    span{
      font-family: $cabin;
      font-size: 18px;
      padding: 5px;
    }


}