main{
    min-height: 100%;
    .migaPan{
        ol{
          li{
            margin: 15px;
            
            .iniNoImportante{
                font-size: 12px;
                color: $lila;
                text-decoration: none;
                &:hover{
                    font-weight: bold;
                  }
    
            }
            .siguiente{
                text-decoration: none;
                  color: $purpura;
                  font-size: 18px;
                  font-family: $cabin;
            }
              
          }
        }
    }

    .bannerContacto{
        img{
            width: 100%;
        }
    }
    .comentarioForm{
        font-family: $caveatCursiva;
        font-size: 25px;
        text-align: left;
        background-color: $rosaMistico;
        margin: 10px;
        padding: 20px;
    }
    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form{
          display: flex;
          flex-direction: column;
          justify-content: center;
          border: $purpura 2px solid;
          border-radius: 4%;
          margin: 20px;
          padding: 25px 25px;
          background-color: $lilaClaro;
          .llenar{
            display: flex;
            flex-direction: column;
            justify-content: center;
         
            .escribirTexto{
              display: flex;
              flex-direction: column;
              justify-content:center;
              position: relative;
              margin: 10px 0 10px 0;
              .input{
                outline: none;
                height: 30px;
                font-size: 12px;
                &:focus{
                  border:$purpura 2px solid;
                  border-radius: 0.6em;

                }
               &:focus + label, &:valid + label{
                  bottom: 1.3rem;
                  left: 0.5rem;
                  font-size: 10px;
                  @extend %labelInputDescrip;
                }
              }
              label{
                @extend %detrasInputDescrip;                               
              }
              #descripcion{
                outline: none;
                border:solid 1px $purpura;
                outline: none;
                height: 10em;
                font-size: 12px;
                &:focus{
                  border:$purpura 2px solid;
                  border-radius: 0.6em;

                }

    
                &:focus + .comentario{
                  top: -1rem;
                  left: 0.5rem;
                  font-size: 10px;
                  margin-top: 5px;
                  @extend %labelInputDescrip;


                }
              }
              .comentario{
                @extend %detrasInputDescrip;
                top: 5px;

              }
            }
          }
          .click{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            input{
              margin: 10px;
              padding: 5px;
              border-radius: 0.5em;
              font-family: $cabin;
              font-size: 14px;
              background-color: $purpura;
              color: white;
              transition: all 500ms;
              &:focus{
                transform: scale(1.1);
              }
            }
          }
        } 
        .ubicacion{
          width: 18em;
          margin: 15px;
      }
   
      }
}

/*media query............................................................................................................................................*/
@media(min-width:768px){
    main{
        .migaPan{
            ol{
              li{
                .iniNoImportante{
                  font-size: 15px;
                }
                .siguiente{
                  font-size: 20px;
                }
              }
            }
          }

        .comentarioForm{
            font-size: 35px;
            margin: 15px;
            padding: 25px;
        }
        .contacto{
            flex-direction: row;
            align-content: center;
            align-items: center;
            form{
              .llenar{
                label{
                  font-size: 15px;
                }

              }
              .click{
                input{
                  font-size: 17px ;
                }
              }
            }
          }
    
    }
}
/*media query............................................................................................................................................*/
@media(min-width:1024px){
    main{
        .migaPan{
            ol{
              li{
                .iniNoImportante{
                  font-size: 18px;
                
                }
                .siguiente{
                  font-size: 28px;
                }
              }
            }
          }

        .comentarioForm{
            font-size: 50px;
            margin: 20px;
            padding: 45px;
        }
        .contacto{
            flex-direction: row;
            align-content: center;
            align-items: center;
            form{
                width: 25em;
                .llenar{
                  align-items: center;
                  .escribirTexto{

                    .input{
                      margin: 10px;
                      width: 23em;
                      font-size: 15px;
                    }
                    .input{
                      &:focus + label,  &:valid + label{
                        bottom: 2.5em;
                        left: 1em;
                        font-size: 12px

                      }

                    }
                    label{
                      font-size: 17px;
                      padding: 10px;
                    }
                    #descripcion{
                      width: 29em;
                      &:focus + .comentario{
                        left: 0.3em;
                        font-size: 15px;
                      }
                    }
                    .comentario{
                      font-size: 17px;
                    }
  
                  }

                }
                .click{
                  input{
                    font-size: 18px;
                  }
                }
            }
            .ubicacion{
                width: 28em;
            }
          }
    
    }

}
@media(min-width:1440px){
  main{
    .contacto{
      form{
        .llenar{
          .escribirTexto{
            .input{
              width: 20em;
              height: 35px;
              font-size: 18px;
              &:focus + label, &:valid + label{
                font-size: 15px;
              }
            }
          }
          #descripcion{
            width: 30em;
          }
        }
      }
    }
  }
}