main{
    min-height: 100%;
    .migaPan{
        ol{
          li{
            margin: 15px;
            
            .iniNoImportante{
                font-size: 12px;
                color: $lila;
                text-decoration: none;
                &:hover{
                    font-weight: bold;
                  }
    
            }
            .siguiente{
                text-decoration: none;
                  color: $purpura;
                  font-size: 18px;
                  font-family: $cabin;
            }
              
          }
        }
      }

    .bannerContacto{
        img{
            max-width: 100%;
        }
    }
    .comentarioForm{
        font-family: 'Caveat', cursive;
        font-size: 20px;
        text-align: left;
        background-color: #F2D1C9;
        margin: 10px;
        padding: 15px;
    }
    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:  #ebbce436;
        form{
            border:2px solid rgba(0, 0, 0, 0.733);
            margin: 20px;
            padding: 25px 10px;
            &:hover{
                background-color:#46274925;
            }
            .input{
                display: flex;
                justify-content: end;
                margin: 5px;
                height: 30px;
                &:focus{
                    border: solid 3px rgba(0, 0, 0, 0.336);
                    transition: 0.3s;
                }
            }
            textarea:focus{
                border: solid 3px rgba(0, 0, 0, 0.336);
                transition: 0.3s;
            }
            #descripcion{
                display: block;
            }
            label{
                font-family: 'Cabin', sans-serif;
                font-size: 12px;
            }
        }
        .ubicacion{
            width: 18em;
            margin: 15px;
        }
      }
}

/*media query............................................................................................................................................*/
@media(min-width:768px){
    main{
        .migaPan{
            ol{
              li{
                .iniNoImportante{
                  font-size: 15px;
                }
                .siguiente{
                  font-size: 20px;
                }
              }
            }
          }

        .comentarioForm{
            font-size: 25px;
            margin: 15px;
        }
        .contacto{
            flex-direction: row;
            align-content: center;
            align-items: center;
            form{
                label{
                    font-size: 16px;
                }
            }
          }
    
    }
}
/*media query............................................................................................................................................*/
@media(min-width:1024px){
    main{
        .migaPan{
            ol{
              li{
                .iniNoImportante{
                  font-size: 18px;
                
                }
                .siguiente{
                  font-size: 28px;
                }
              }
            }
          }

        .comentarioForm{
            font-size: 30px;
            margin: 20px;
        }
        .contacto{
            flex-direction: row;
            align-content: center;
            align-items: center;
            form{
                width: 30em;
                .input{
                    margin: 10px;
                    width: 26em; 
                }
                label{
                    font-size: 16px;
                }
                #descripcion{
                    width: 26em;
                  }
            }
            .ubicacion{
                width: 25em;
            }
          }
    
    }

}