.navbar{
    background-color: $purpura;
    nav{
        img{
            border-radius: 60%;
            width: 3em;
        }
        button {
            background-color:$rosaMistico;
        }
        
        .menu{
            justify-content: flex-end;
            a{
                color: white;
                font-size: 15px;
                font-family: $cabin;
                &:hover{
                    font-weight: 800;
                    color: $rosaMistico;
                }
            }
        }


    }
}

/*media querys 768..............................................................................*/
@media(min-width:768px){
    .navbar{
        nav{
            img{
                width: 5em;
            }
            .menu{
                a{
                    font-size: 18px;
                } 
            }

        }
    }
}

/* media query 1024..............................................................................................*/
@media(min-width:1024px){
    .navbar{
        nav{
            img{
                width: 6em;
            }
            .menu{
                a{
                    font-size: 20px;
                }
            }
        }
    }

}

