main {
    min-height: 100%;

    .migaPan {
        ol {
            li {
                margin: 15px;

                .enPagina {
                    text-decoration: none;
                    color: $purpura;
                    font-size: 12px;
                    font-family: $cabin;

                }
            }
        }
    }

    .section0 {
        display: flex;
        background-color: $rosaParaFondo;
        justify-content: center;
        height: 6em;

        h1, p {
            margin: auto;
            color: rgba(0, 0, 0, 0.815);
            font-family: $caveatCursiva;
            font-size: 25px;
        }
    }

    .section {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgSection {
            img {
                width: 100%;
                transition: all 1s ease-in-out;
            }
    
        }

        .textoSection {
            padding: 10px;
            transition: all 1s ease-in-out;

            h3 {
                font-family: $cabin;
                font-size: 15px;
                text-align: center;
            }

            p {
                font-family: $cabin;
                font-size: 12px;
                text-align: center;
            }
        }
        &:hover img{
            transform: scale(0.9);
        }
        &:hover {
            background-color:$lilaClaro;
        }
    }

    #parallax {
        background-image: url(https://images.unsplash.com/photo-1591899495446-836c1c873ae7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 8em;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            font-family: $cabin;
            font-size: 25px;
            text-align: center;
        }
    }

    .sectionVideo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-around;

        video {
            width: 15em;
            height: 10em;
            margin: 10px 0 10px 0;

        }
    }
}

/*media query 768....................................................................................................................................................*/
@media(min-width:768px) {
    main {
        .migaPan {
            ol {
                li {
                    font-size: 20px;

                }
            }
        }

        .section0 {
            height: 8em;

            h1, p {
                font-size: 40px;
            }
        }
        .section{
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: row;
            .imgSection, .textoSection {
                width: 50%;
            }
        }
        .invertir{
            display: flex;
            flex-direction: row-reverse;
            .imgSection , .textoSection{
                width: 50%;
            }

        }
        .sectionVideo {
            margin: 20px;
            video {
                width: 25em;
                height: 15em;
            }
        }
    }
}

/*media query 1024....................................................................................................................................................*/
@media(min-width:1024px){
    main{
        .migaPan{
            ol{
                li{
                    .enPagina{
                        font-size: 28px;
                    }
                    
                }
            }
        }

        .section0{
            height: 10em;
            h1, p{
                font-size: 50px;
            }
        }
        .section{
            .textoSection{
                h3{
                    font-size: 30px;
                }
                p{
                    font-size: 20px;
                    padding: 10px;
                }
            }
        }
        #parallax{
            height: 18em;
            span{
                font-size: 45px;
            }
        }
    }
}

/*media query 1440....................................................................................................................................................*/
@media(min-width:1440px){
    main{
        .section{
            .textoSection{
                h3{
                    font-size: 40px;
                }
                p{
                    font-size: 25px;
                }
            }
        }
        #parallax{
            height: 25em;
            span{
                font-size: 50px;
            }
        }
        .sectionVideo{
            video{
                width: 35em;
                height: 25em;
    
            }
        }
    }
}