main{
    min-height:100%;
    .migaPan{
        ol{
            li{
                margin: 15px;
                .enPagina{
                    text-decoration: none;
                    color: $purpura;
                    font-size: 12px;
                    font-family: $cabin;
                
                }             
            }
        }
    }
    .section0{
        display: flex;
        background-color: #ebbce436;        
        justify-content: center;
        height: 6em;
        h1{
            margin: auto;
            color: rgba(0, 0, 0, 0.815);
            font-family: 'Caveat', cursive;
            font-size: 25px;
        }
    }
    #todasSection{
        .section{
            .imgTexto{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 25px;
            }
            p{
                font-family: 'Cabin', sans-serif;
                background-color: #4627499d;
                text-align: center;
                margin: 15px;
                border-radius: 0.30rem;
                &:hover{
                    transform: scale(1.2);
                    font-weight: bold;
                    transition: 0.2s;
                  }
              }
        }
        .sectionVideo{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-content: space-around;
            video{
                width: 15em;
                height: 10em;
                margin: 10px 0 10px 0;
    
            }
        }
    
    }

}

/*media query 768....................................................................................................................................................*/
@media(min-width:768px){
    main{
        .migaPan{
            ol{
                li{
                    font-size: 20px;
                    
                }
            }
        }
        .section0{
            flex-direction: column;
            height: 6em;
            h1{
                font-size: 2em;
            }
        }
        #todasSection{
            display: flex;
            flex-wrap: wrap;
            align-content: stretch;
            justify-content: space-evenly;
            .section{
                .imgTexto{
                    img{
                        width: 20em;
                        border-radius: 5%;
                    }
                }
            }
            .sectionVideo{
                video{
                    width: 25em;
                    height: 15em;  
                }
            }
        }
    }
}

/*media query 1024....................................................................................................................................................*/
@media(min-width:1024px){
    main{
        .migaPan{
            ol{
                li{
                    .enPagina{
                        font-size: 28px;
                    }
                    
                }
            }
        }

        .section0{
            flex-direction: column;
            height: 10em;
            h1{
                font-size: 4em;
            }
        }
        #todasSection{
            width: 75%;
            margin: auto;
            .section{
                .imgTexto{
                    img{
                        width: 20em;
                    }
                    p{
                        font-size: 25px; 
                    }
                }
                
            }
        }
    }
}

/*media query 1024....................................................................................................................................................*/
@media(min-width:1024px){
    #todasSection{
        .section{
            .imgTexto{
                img{
                    width: 30em;
                }
                p{
                    font-size: 25px; 
                }
            }
            
        }
    }

}