main{
    min-height: 100%;
    .migaPan{
        ol{
          li{
            margin: 15px;
            
            .iniNoImportante{
                font-size: 12px;
                color: $lila;
                text-decoration: none;
                &:hover{
                    font-weight: bold;
                  }
    
            }
            .enPagina{
                text-decoration: none;
                  color: $purpura;
                  font-size: 18px;
                  font-family: $cabin;
            }
              
          }
        }
      }

    .productos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 8em;
        background-color: $rosaMistico;
        margin: 15px;
        h1{
            font-family: $caveatCursiva;
            font-size: 25px;
        }
        
    }
    .precios{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color:$rosaParaFondo ;
        padding: 10px 0 10px 0;
        img{
            width: 19em;
            margin: 15px 0 18px 0;
            border-radius: 5% ;
            &:hover{
                transform: skewX(1deg);
                transition: 1s;
                opacity: 0.6;
                border: groove;
            }
        }
        .nombrePrecio{
            display: flex;
            flex-direction: column;
            margin: 15px;
            h3{
                font-family: $cabin;
                font-size: 15px;
                font-weight: bold;
                color: rgba(0, 0, 0, 0.842);
            }
            p{
                font-family: $cabin;
                font-size: 15px;
                color: $purpura;
                font-weight: 800;
            }
        }

        
    }
}

/* madia query....................................................................................................................*/
@media(min-width:768px){
    main{
        .migaPan{
            ol{
              li{
                .iniNoImportante{
                  font-size: 15px;
                }
                .enPagina{
                  font-size: 20px;
                }
              }
            }
          }

        .productos{
            h1{
                font-size: 35px;
            }
        }
        .precios{
            margin: auto;
            width: 85%;
            div{
                img{
                    width: 10em;  
                    margin: 25px 25px 25px 25px; 
                }
    
            }
        }
    }
}

/* madia query....................................................................................................................*/

@media(min-width:1024px){
   main{
    .migaPan{
        ol{
          li{
            .iniNoImportante{
              font-size: 18px;
            }
            .enPagina{
              font-size: 28px;
            }
          }
        }
      }

    .productos{
        h1{
            font-size: 45px;
        }
    }

    .precios{
        width: 75%;
        div{
            img{
                width: 12em;
            }
        }
    }
   } 
}

/* madia query....................................................................................................................*/
@media(min-width: 1440px){
    main{
        .productos{
            h1{
                font-size: 55px;
            }
        }
        .precios{
            width: 75%;
            div{
                img{
                    width: 19em;
                }
    
            }
            .nombrePrecio{
                h3{
                    font-size: 20px;
                }
                p{
                    font-size: 20px;
                }
            }
        }
    }
}