main{
    min-height: 100%;
    .migaPan{
        ol{
          li{
            margin: 15px;
            
            .iniNoImportante{
                font-size: 12px;
                color: $lila;
                text-decoration: none;
                &:hover{
                    font-weight: bold;
                  }
    
            }
            .enPagina{
                text-decoration: none;
                  color: $purpura;
                  font-size: 18px;
                  font-family: $cabin;
            }
              
          }
        }
      }

    .productos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 8em;
        background-color: $rosaMistico;
        margin: 15px;
        h1{
            font-family: $caveatCursiva;
            font-size: 25px;
        }
        
    }
    .precios{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color:$rosaParaFondo ;
        margin: 10px 0 10px 0;
        .cardProd{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            height: 23em;
            width: 19em;
            margin: 15px 0 15px 0;
            padding: 10px;
            position: relative;
            transition: all 500ms ease-out;
            &:hover {
                box-shadow: 0px 12px 16px rgba(0,0,0, 0.2) ;
                transform: translateY(-15px);
            }
            &:hover img{
                opacity: 0.6;
            }
            img{
                width: 100%;
                    
            }
            .nombrePrecio{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin: 15px 0 15px 0 ;
                padding: 10px;
                h3{
                    font-family: $cabin;
                    font-size: 15px;
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.842);
                }
                p{
                    font-family:$cabin;
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.842);
                    text-align: justify ;
                    
                }
                span{
                    font-family: $cabin;
                    font-size: 15px;
                    color: rgba(0, 0, 0, 0.842);
                    font-weight: 800;
                }
                button{
                    width: 5em;
                    border-radius: 0.25rem;
                    font-size: 12px;
                    background-color: $purpura;
                    color: $rosaMistico;
                    border: none;
                    padding: 6px;
                    transition: all 500ms ease-out;
                    &:hover{
                        transform: scale(1.2);
                        font-weight: bold;
                    }

                }
            }

        }

        
    }
}

/* madia query....................................................................................................................*/
@media(min-width:768px){
    main{
        .migaPan{
            ol{
              li{
                .iniNoImportante{
                  font-size: 15px;
                }
                .enPagina{
                  font-size: 20px;
                }
              }
            }
          }

        .productos{
            h1{
                font-size: 35px;
            }
        }
    }
}

/* madia query....................................................................................................................*/

@media(min-width:1024px){
   main{
    .migaPan{
        ol{
          li{
            .iniNoImportante{
              font-size: 18px;
            }
            .enPagina{
              font-size: 28px;
            }
          }
        }
      }

    .productos{
        h1{
            font-size: 45px;
        }
    }

   } 
}

/* madia query....................................................................................................................*/
@media(min-width: 1440px){
    main{
        .productos{
            margin-bottom: 80px;
            padding: 80px;

            h1{
                font-size: 55px;
            }
        }
        .precios{
            width: 75%;
            margin:auto;
            .cardProd{
                width: 25em;
                height: 30em;
                .nombrePrecio{
                    h3{
                        font-size: 20px;
                    }
                    p{
                        font-size: 15px;
                    }
                    button{
                        font-size: 15px;
                    }
                }
            }
        }

    }
}