main{
    min-height: 100%;
    .migaPan{
        ol{
            li{
             margin: 15px;
            
                .iniNoImportante{
                    font-size: 12px;
                    color: $lila;
                    text-decoration: none;
                    &:hover{
                    font-weight: bold;
                    }
    
                }
                .enPagina{
                    text-decoration: none;
                    color: $purpura;
                    font-size: 18px;
                    font-family: $cabin;
                }
              
            }
        }
      }
  
    #textoBannerRecetas{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #ebbce433;
            padding: 15px;
            h1{
                font-family: $cabin;
                 font-size: 35px;
            }
            p{
                font-family: $caveatCursiva;
                font-size: 25px;
            }
          }
    
    .grid-container { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(12, auto);
        grid-template-areas:
          "recetas img2 img3"
          "img1 img2 parrafo"
          "chocolatosas chocolatosas chocolatosas"
          "choc1 choc1 choc1"
          "choc2 choc2 choc2"
          "choc3 choc3 choc3"
          "tartas tartas tartas"
          "tart1 tart1 tart1"
          "tart2 tart2 tart2"
          "tart3 tart3 tart3"
          "sinhorno sinhorno sinhorno"
          "sh1 sh1 sh1"
          "sh2 sh2 sh2"
          "sh3 sh3 sh3";
        .recetas{
            grid-area: recetas;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $rosaMistico;

            h1{
                font-size: 20px;
                text-align: center;
            }
        
        }
        .img1{
            grid-area: img1;
            display: flex;
            img{
                padding: 0px;
                border-radius: 0;
            }
        
        }
        .img2{
            grid-area: img2;
            display: flex;

            img{
                padding: 0px;
                border-radius: 0;
            }


        }
        .img3{
            grid-area: img3;
            img{
                padding: 0px;
                border-radius: 0;
            }


        }
        .parrafo{
            grid-area: parrafo;
            font-size: 14px;
            display: flex;
            background-color: $lila;
            p{
                text-align: center
            }
        }
        .chocolatosas { 
            @include estiloContenedorTipoReceta(chocolatosas)
        }  
        .choc1{ 
            @include estiloCadaContenedorReceta (choc1);
            img{
                @extend %estiloImgSeccRecetas;       
            }
            h4{
                @extend %estiloH3SeccRecetas;
            }
        }
        .choc2 { 
            @include estiloCadaContenedorReceta (choc2);

            img{
                @extend %estiloImgSeccRecetas;       
            }
            h4{
                @extend %estiloH3SeccRecetas;
  
            }
        }
        .choc3 { 
            @include estiloCadaContenedorReceta (choc3);

            img{
                @extend %estiloImgSeccRecetas;       

            }
            h4{
                @extend %estiloH3SeccRecetas;

            }
        }

        .tartas { 
            @include estiloContenedorTipoReceta(tartas)

        }
        .tart1 { 
            @include estiloCadaContenedorReceta (tart1);

            img{
                @extend %estiloImgSeccRecetas;       
            }
            h4{
                @extend %estiloH3SeccRecetas;

            }

        }
          
        .tart2 { 
            @include estiloCadaContenedorReceta (tart2);

            img{
                @extend %estiloImgSeccRecetas;
            }
            h4{
                @extend %estiloH3SeccRecetas;

            }

        }
          
        .tart3 { 
            @include estiloCadaContenedorReceta (tart3);

            img{
                @extend %estiloImgSeccRecetas;       

            }
            h4{
                @extend %estiloH3SeccRecetas;

            }

        }
          
        .sinHorno { 
            @include estiloContenedorTipoReceta(sinhorno)

        }
        .sH1 { 
            @include estiloCadaContenedorReceta (sh1);

            img{
                @extend %estiloImgSeccRecetas;       

            }
            h4{
                @extend %estiloH3SeccRecetas;

            }

        }
          
        .sH2 { 
            @include estiloCadaContenedorReceta (sh2);

            img{
                @extend %estiloImgSeccRecetas;       

            }
            h4{
                @extend %estiloH3SeccRecetas;

            }

        }
          
        .sH3 { 
            @include estiloCadaContenedorReceta (sh3);

            img{
                @extend %estiloImgSeccRecetas;       

            }
            h4{
                @extend %estiloH3SeccRecetas;

            }

        }
          

          
      }




   
}

/*media query.......................................................................................................*/
@media(min-width:768px){
    main{
        .migaPan{
            ol{
              li{
                .iniNoImportante{
                  font-size: 15px;
                }
                .siguiente{
                  font-size: 20px;
                }
              }
            }
          }
      
        #textoBannerRecetas{
                h1{
                    font-size: 45px;
                }
                p{
                    font-size: 35px;
                }
        }
        
        .grid-container { 
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(12, auto);
            grid-template-areas:
              "chocolatosas chocolatosas chocolatosas"
              "choc1 choc2 choc3"
              "choc1 choc2 choc3"
              "choc1 choc2 choc3"
              "tartas tartas tartas"
              "tart1 tart2 tart3"
              "tart1 tart2 tart3"
              "tart1 tart2 tart3"
              "sinhorno sinhorno sinhorno"
              "sh1 sh2 sh3"
              "sh1 sh2 sh3"
              "sh1 sh2 sh3";
            
              .choc1, .choc2, .choc3, .tart1, .tart2, .tart3, .sH1, .sH2, .sH3{
                img{
                    width: 12em;
                }
              }

          }
    }
}

/*media query.......................................................................................................*/
@media(min-width:1024px){
   main{
    .migaPan{
        ol{
          li{
            .iniNoImportante{
              font-size: 18px;
            }
            .siguiente{
              font-size: 28px;
            }
          }
        }
      }
  
        #textoBannerRecetas{
            h1{
                font-size: 6em;
            }
            p{
                font-size: 3em;
            }
        }
    
    .grid-container { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(12, auto);
        grid-template-areas:
          "chocolatosas chocolatosas chocolatosas"
          "choc1 choc2 choc3"
          "choc1 choc2 choc3"
          "choc1 choc2 choc3"
          "tartas tartas tartas"
          "tart1 tart2 tart3"
          "tart1 tart2 tart3"
          "tart1 tart2 tart3"
          "sinhorno sinhorno sinhorno"
          "sh1 sh2 sh3"
          "sh1 sh2 sh3"
          "sh1 sh2 sh3";
        .choc1, .choc2, .choc3, .tart1, .tart2, .tart3, .sH1, .sH2, .sH3{
            img{
                width: 20em;
            }
            h4{
                font-size: 20px; 
            }
        }
      }
   } 
}

/*media query.......................................................................................................*/

@media(min-width: 1440px){
    main{
        .grid-container{
            .choc1, .choc2, .choc3, .tart1, .tart2, .tart3, .sH1, .sH2, .sH3{
                img{
                    width: 28em;
                }
                h4{
                    font-size: 25px; 
                }
            }
    
        }
    }
}