main{
    min-height: 100%;
    .migaPan{
        ol{
            li{
             margin: 15px;
            
                .iniNoImportante{
                    font-size: 12px;
                    color: $lila;
                    text-decoration: none;
                    &:hover{
                    font-weight: bold;
                    }
    
                }
                .enPagina{
                    text-decoration: none;
                    color: $purpura;
                    font-size: 18px;
                    font-family: $cabin;
                }
              
            }
        }
      }
  
    
    .grid-container { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(17, auto);
        grid-template-areas:
          "img2 img2 recetas img3"
          "img2 img2 img1 parrafo"
          "chocolatosas chocolatosas chocolatosas chocolatosas"
          "choc1 choc1 choc1 choc1"
          "choc2 choc2 choc2 choc2"
          "choc3 choc3 choc3 choc3"
          "choc4 choc4 choc4 choc4"
          "tartas tartas tartas tartas"
          "tart1 tart1 tart1 tart1"
          "tart2 tart2 tart2 tart2"
          "tart3 tart3 tart3 tart3"
          "tart4 tart4 tart4 tart4"
          "sinhorno sinhorno sinhorno sinhorno"
          "sh1 sh1 sh1 sh1"
          "sh2 sh2 sh2 sh2"
          "sh3 sh3 sh3 sh3"
          "sh4 sh4 sh4 sh4";
        .recetas{
            grid-area: recetas;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color:#ebbce463;

            h1{
                font-size: 20px;
                text-align: center;
                font-family: $cabin;
            }
        
        }
        .img1{
            grid-area: img1;
            display: flex;
        }
        .img2{
            grid-area: img2;
            display: flex;
        }
        .img3{
            grid-area: img3;
            display: flex;
        }
        .parrafo{
            grid-area: parrafo;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #8d64a269;
            p{
                text-align: center;
                font-size: 8px;
                font-family: $cabin;

            }
        }
        .chocolatosas { 
            @include estiloContenedorTipoReceta(chocolatosas) 
        }  
        .choc1{
            @include estiloCadaContenedorReceta (choc1);
  
        }
        .choc2 { 
            @include estiloCadaContenedorReceta (choc2);

        }
        .choc3 { 
            @include estiloCadaContenedorReceta (choc3);

        }
        .choc4 { 
            @include estiloCadaContenedorReceta (choc4);

        }


        .tartas { 
            @include estiloContenedorTipoReceta(tartas)

        }
        .tart1 { 
            @include estiloCadaContenedorReceta (tart1);


        }
          
        .tart2 { 
            @include estiloCadaContenedorReceta (tart2);


        }
          
        .tart3 { 
            @include estiloCadaContenedorReceta (tart3);


        }
        .tart4 { 
            @include estiloCadaContenedorReceta (tart4);


        }

          
        .sinHorno { 
            @include estiloContenedorTipoReceta(sinhorno)

        }
        .sH1 { 
            @include estiloCadaContenedorReceta (sh1);

        }
          
        .sH2 { 
            @include estiloCadaContenedorReceta (sh2);

        }
          
        .sH3 { 
            @include estiloCadaContenedorReceta (sh3);


        }
        .sH4 { 
            @include estiloCadaContenedorReceta (sh4);

        }

          

          
      }




   
}

/*media query.......................................................................................................*/
@media(min-width:768px){
    main{
        .migaPan{
            ol{
              li{
                .iniNoImportante{
                  font-size: 15px;
                }
                .siguiente{
                  font-size: 20px;
                }
              }
            }
          }
      
        #textoBannerRecetas{
                h1{
                    font-size: 45px;
                }
                p{
                    font-size: 35px;
                }
        }
        
        .grid-container { 
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: repeat(17, auto);
            grid-template-areas:
              "img2 img2 recetas img3"
              "img2 img2 img1 parrafo"
              "chocolatosas chocolatosas chocolatosas chocolatosas"
              "choc1 choc1 choc2 choc2"
              "choc1 choc1 choc2 choc2"
              "choc3 choc3 choc4 choc4"
              "choc3 choc3 choc4 choc4"
              "tartas tartas tartas tartas"
              "tart1 tart1 tart2 tart2"
              "tart1 tart1 tart2 tart2"
              "tart3 tart3 tart4 tart4"
              "tart3 tart3 tart4 tart4"
              "sinhorno sinhorno sinhorno sinhorno"
              "sh1 sh1 sh2 sh2"
              "sh1 sh1 sh2 sh2"
              "sh3 sh3 sh4 sh4"
              "sh3 sh3 sh4 sh4";
              .recetas{
                h1{
                    font-size: 40px;

                }
              }
              .parrafo{
                p{
                    font-size: 15px;
                }
              }
            
              .choc1, .choc2, .choc3, .choc4, .tart1, .tart2, .tart3, .tart4, .sH1, .sH2, .sH3, .sH4{
                img{
                    width: 15em;
                }
              }

          }
    }
}

/*media query.......................................................................................................*/
@media(min-width:1024px){
   main{
    .migaPan{
        ol{
          li{
            .iniNoImportante{
              font-size: 18px;
            }
            .siguiente{
              font-size: 28px;
            }
          }
        }
      }
  
        #textoBannerRecetas{
            h1{
                font-size: 6em;
            }
            p{
                font-size: 3em;
            }
        }
    
    .grid-container { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(8, auto);
        grid-template-areas:
          "img2 img2 recetas img3"
          "img2 img2 img1 parrafo"
          "chocolatosas chocolatosas chocolatosas chocolatosas"
          "choc1 choc2 choc3 choc4"

          "tartas tartas tartas tartas"
          "tart1 tart2 tart3 tart4"

          "sinhorno sinhorno sinhorno sinhorno"
          "sh1 sh2 sh3 sh4";

        .receta{
            h1{
                font-size: 50px;
            }
        }
        .parrafo{
            p{
                font-size: 25px;
            }
        }

        .img2{
            flex-direction: column;
        }
        .choc1, .choc2, .choc3, .choc4, .tart1, .tart2, .tart3, .tart4, .sH1, .sH2, .sH3, .sH4{
            width: 12em;
            height: 12em;
            .adelante{
    
                h3{
                    font-size: 18px;
                }
            }
            .atras{
                h4{
                    font-size: 15px; 
                }
                p{
                    font-size: 12px;
                }
                a{
                    font-size: 12px;
                }
                
    
            }
        }
        .chocolatosas, .tartas, .sinHorno{
            h3{
                font-size: 70px;
            }
        }
      }
   } 
}

/*media query.......................................................................................................*/

@media(min-width: 1440px){
    main{
        .grid-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: repeat(17, auto);
            grid-template-areas:
              "img2 img2 recetas img3"
              "img2 img2 img1 parrafo"
              "chocolatosas chocolatosas chocolatosas chocolatosas"
              "choc1 choc1 choc2 choc2"
              "choc1 choc1 choc2 choc2"
              "choc3 choc3 choc4 choc4"
              "choc3 choc3 choc4 choc4"
              "tartas tartas tartas tartas"
              "tart1 tart1 tart2 tart2"
              "tart1 tart1 tart2 tart2"
              "tart3 tart3 tart4 tart4"
              "tart3 tart3 tart4 tart4"
              "sinhorno sinhorno sinhorno sinhorno"
              "sh1 sh1 sh2 sh2"
              "sh1 sh1 sh2 sh2"
              "sh3 sh3 sh4 sh4"
              "sh3 sh3 sh4 sh4";

            .recetas{
                h1{
                    font-size: 60px;
                }
            }
            .parrafo{
                p{
                    font-size: 50px;
                }
            }
            .choc1, .choc2, .choc3, .choc4, .tart1, .tart2, .tart3, .tart4, .sH1, .sH2, .sH3, .sH4{
                width: 35em;
                height: 28em;
              
                .adelante{
                
                    h3{
                        font-size: 25px;
                    }
                }
                .atras{
                    height: 20em;
                    h4{
                        font-size: 28px;
                    }
                    p{
                        font-size: 20px;
                    }
                    a{
                        font-size: 20px;
                    }
                    
                }
            }
    
        }
    }
}