main{
  min-height:100%;
    .migaPan{
      ol{
        li{
          margin: 15px;
          
          .iniNoImportante{
              font-size: 12px;
              color: $lila;
              text-decoration: none;
              &:hover{
                font-weight: bold;
              }
            }
        }
        .enPagina{
          text-decoration: none;
          color: $purpura;
          font-size: 18px;
          font-family: $cabin;
      
        }
  
      }


    }
    .bannerSA {
        position: relative;
        h1{
          position: absolute;
          top: 0;
          z-index: -1;
        }
        img{
            width: 100vw;
            }
    }
    .todasSection{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .sectionA{
            margin: 15px;
            p{
              font-family: $cabin;
              font-size: 15px;
              line-height: 2;
              text-align: justify;
            }
        }
      .sectionB{ 
        img{
            width: 18em;
            border-radius: 5%;
            margin: 15px;
          }
        }
    }
    #trabajos{
      font-family: $caveatCursiva;
      font-size: 20px;
      text-align: center;
      background-color: $rosaMistico;
      padding: 20px;
      margin: 15px;
    }
    .galeria-container {  
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr 1fr;
      grid-template-rows: repeat(6, auto);
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 5px 5px;
      grid-auto-flow: row;
      grid-template-areas:
      "panel1 panel2 panel3 panel4"
      "panel1 panel5 panel6 panel7"
      "panel10 panel10 panel9 panel8"
      "panel10 panel10 panel11 panel12"
      "panel13 panel14 panel15 panel16"
      "panel13 panel17 panel18 panel19";
        .panel1 {
          @include estiloTextoGaleria(panel1);
        }
    
        .panel2 { 
          @include estilopanelImagen(panel2);
        }
        
        .panel3 {
          @include estilopanelImagen(panel3)
        }
        
        .panel4 { 
          @include estilopanelImagen(panel4)
        }
        
        .panel5 { 
          @include estilopanelImagen(panel5)
        }
        .panel6 { 
          @include estilopanelImagen(panel6)
        }
        .panel7 { 
          @include estilopanelImagen(panel7)
        }

        .panel8 { 
          grid-area: panel8;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          height: 100%;
          background-color: $rosaParaFondo;
            span{
              font-family: $cabin;
              font-size: 10px;
              text-align: center;
            }

        }
        
        .panel9 { 
          @include estilopanelImagen(panel9)
        }
        
        .panel10 { 
          @include estilopanelImagen(panel10)

        }
        
        .panel11 { 
          @include estilopanelImagen(panel11)
        }
        
        .panel12 { 
          @include estilopanelImagen(panel12)
        }

        .panel13 { 
          @include estiloTextoGaleria(panel13) 
        }
        
        .panel14 { 
          @include estilopanelImagen(panel14)
        }
        
        .panel15 { 
          @include estilopanelImagen(panel15)
        }
        
        .panel16 { 
          @include estilopanelImagen(panel16)
        }
        
        .panel17 { 
          @include estilopanelImagen(panel17)
        }
        
        .panel18 { 
          @include estilopanelImagen(panel18)
        }
        
        .panel19 { 
          @include estilopanelImagen(panel19)
        }

    }
    
    
}

/*media query.................................................................................................................................*/
@media(min-width:768px){
  main{
    .migaPan{
      ol{
        li{
          .iniNoImportante{
            font-size: 15px;
          }
          .siguiente{
            font-size: 20px;
          }
        }
      }
    }
    .todasSection{
      .sectionA{
        width: 75%;
        align-items: center;
        margin: 25px;
        line-height: 30px;
      }
      .sectionB{
        width: 25em;
      }
    }
    #trabajos{
      font-size: 30px;
    }
    .galeria-container{
      .panel1, .panel13{
        span{
          font-size: 15px;
        }
      }
      .panel8{
        justify-content: center;
        span{
          font-size: 18px;
        }
      }
    }
  }
}



/*media query.................................................................................................................................*/
@media(min-width:1024px){
  main{
    .migaPan{
      ol{
        li{
          .iniNoImportante{
            font-size: 18px;
          
          }
          .siguiente{
            font-size: 28px;
          }
        }
      }
    }

    .todasSection{
      .sectionA{
        margin: 40px;
        p{
          font-size: 20px;
        }
      }
      .sectionB{
        img{
          width: 100%;
        }
      }
    }
    #trabajos{
      font-size: 40px;
    }
    .galeria-container{
      width: 75%;
      margin: auto;
    }
  }

}

/*media query.................................................................................................................................*/

@media(min-width: 1440px){
  main{
    .todasSection{
      .sectionA{
        width: 50%;
        p{
          font-size: 25px;
        }
      }
      .sectionB{
        width: 50%;
      }
    }
    #trabajos{
      font-size: 60px;
    }
    .galeria-container{
      .panel1, .panel13{
        span{
          font-size: 35px;
        }
      }
      .panel8{
        span{
          font-size: 40px;
        }
      }
      
    }

  }
}

