main{
  min-height:100%;
    .migaPan{
      ol{
        li{
          margin: 15px;
          
          .iniNoImportante{
              font-size: 12px;
              color: $lila;
              text-decoration: none;
              &:hover{
                font-weight: bold;
              }
            }
        }
        .enPagina{
          text-decoration: none;
          color: $purpura;
          font-size: 18px;
          font-family: $cabin;
      
        }
  
      }


    }
    .bannerSA {
        position: relative;
        h1{
          position: absolute;
          top: 0;
          z-index: -1;
        }
        img{
            width: 100vw;
            }
    }
    .todasSection{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .sectionA{
            font-family: $cabin;
            font-size: 15px;
            margin: 15px;
            line-height: 20px;
            text-align: justify;
            p{
                line-height: 2;
          }
        }
      .sectionB{
        display: flex;
        justify-content: center;
        justify-items: center;
        img{
            width: 18em;
            border-radius: 5%;
            margin: 15px;
          }
        }
    }
    #trabajos{
      font-family: $caveatCursiva;
      font-size: 20px;
      text-align: center;
      background-color: $rosaMistico;
      padding: 20px;
      margin: 15px;
    }
    .galeria-container {  
      display: grid;
      grid-template-columns: 0.2fr 0.5fr 0.5fr 1fr;
      grid-template-rows: repeat(6, auto);
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 5px 5px;
      grid-auto-flow: row;
      grid-template-areas:
      "panel1 panel5 panel4 panel3"
      "panel1 panel2 panel2 panel3"
      "panel7 panel7 panel6 panel6"
      "panel8 panel8 panel9 panel10"
      "panel11 panel12 panel13 panel14"
      "panel11 panel15 panel16 panel17";
        .panel1 { 
          grid-area: panel1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: $rosaParaFondo;
          height: 100%;

          span{
            font-family: $cabin;
            font-size: 18px;
            padding: 5px;
  
          }
        }
    
        .panel2 { 
          grid-area: panel2; 
          display: flex;
          width: 100%;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
        
        .panel3 {
          grid-area: panel3;
          display: flex;
          width: 100%;
          img{
            width: 100%;
            object-fit: cover;
            
          }
        }
        
        .panel4 { 
          grid-area: panel4;
          display: flex;
          width: 100%;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
        
        .panel5 { 
          grid-area: panel5;
          display: flex;
          width: 100%;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
        
        .panel6 { 
          grid-area: panel6;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          height: 100%;
          background-color: $rosaParaFondo;


          span{
            font-family: $cabin;
            font-size: 26px;
            text-align: center;
          }

        }
        
        .panel7 { 
          grid-area: panel7;
          display: flex;
          width: 100%;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
        
        .panel8 { 
          grid-area: panel8;
          display: flex;
          width: 100%;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
        
        .panel9 { 
          grid-area: panel9;
          display: flex;
          width: 100%;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
        
        .panel10 { 
          grid-area: panel10;
          display: flex;
          width: 100%;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
        
        .panel11 { 
          grid-area: panel11;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-family: $cabin;
          font-size: 18px;
          padding: 5px;
          height: 100%;
          background-color: $rosaParaFondo;

        }
        
        .panel12 { 
          grid-area: panel12;
          display: flex;
          width: 100%;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
        
        .panel13 { 
          grid-area: panel13;
          display: flex;
          width: 100%;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
        
        .panel14 { 
          grid-area: panel14;
          display: flex;
          width: 100%;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
        
        .panel15 { 
          grid-area: panel15;
          display: flex;
          width: 100%;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
        
        .panel16 { 
          grid-area: panel16;
          display: flex;
          width: 100%;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
        
        .panel17 { 
          grid-area: panel17;
          display: flex;
          width: 100%;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
    
    }
    
    
}

/*media query.................................................................................................................................*/
@media(min-width:768px){
  main{
    .migaPan{
      ol{
        li{
          .iniNoImportante{
            font-size: 15px;
          }
          .siguiente{
            font-size: 20px;
          }
        }
      }
    }
    .todasSection{
      .sectionA{
        align-items: center;
        margin: 25px;
        line-height: 30px;
        width: 60%;
      }
      .sectionB{
        width: 25em;
      }
    }
    #trabajos{
      font-size: 30px;
    }
    .galeria-container{
      .panel1, .panel11{
        span{
          font-size: 25px;
        }
      }
      .panel6{
        justify-content: center;
        span{
          font-size: 45px;
          
        }
      }
      
      
    }
    }
  
  }



/*media query.................................................................................................................................*/
@media(min-width:1024px){
  main{
    .migaPan{
      ol{
        li{
          .iniNoImportante{
            font-size: 18px;
          
          }
          .siguiente{
            font-size: 28px;
          }
        }
      }
    }

    .todasSection{
      .sectionA{
        margin: 40px;
        font-size: 20px;
      }
      .sectionB{
        img{
          width: 40em;
  
        }
      }
    }
    #trabajos{
      font-size: 40px;
    }
    .galeria-container{
      width: 75%;
      margin: auto;
    }
  
  }

}

/*media query.................................................................................................................................*/

@media(min-width: 1440px){
  main{
    .todasSection{
      .sectionA{
        width: 50%;
        justify-content: center;
        font-size: 25px;
      }
      .sectionB{
        width: 50em;
      }
    }
    #trabajos{
      font-size: 60px;
    }
    .galeria-container{
      .panel1, .panel11{
        span{
          font-size: 35px;
        }
      }
      
    }

  }
}

